
logs/*
dev.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.egg

# Installation logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Pyenv
.python-version

# pyenv
*.python-version

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
*.log
*.tmp
*.bak

# Environment variables
.env
*.env

# Test coverage
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Mypy
.mypy_cache/

# Sphinx documentation
docs/_build/

# Pytest
.pytest_cache/
